@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1441872605_4192162.eot'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1441872605_4192162.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1441872605_4192162.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1441872605_4192162.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1441872605_4192162.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
	font-family:"iconfont";
	font-size:16px; font-style:normal;
}

* {margin:0; padding:0;}

ol, ul, li {list-style:none;}

em, i {font-style:normal;}

h1, h2, h3, h4, h5, b, strong {font-weight:normal;}

.bor_b {border-bottom:1px #dedede solid;}

.fl {float:left;}

.fr {float:right;}

.pd05 { padding:5px;}

.pd10_l { padding:0 0 0 10px;}

.pd10_lr { padding:0 10px;}

.pd10 { padding:10px;}

.color_01 { color:#e33124;}

.color_02 { color:#4fd2be;}

.color_03 { color:#7788f2;}

.color_04 { color:#f7ba5b;}

.color_05 { color:#8c8c8c;}

.bg_01 { background:#dd1690;}

.bg_02 { background:#0dd1ff;}

.bg_03 { background:#0dd1ff;}

.bg_04 { background:#f7ba5b;}

.bg_05 { background:#ff7200;}

.fz_05 {font-size:0.5rem;}

.fz_06 {font-size:0.6rem;}

.fz_07 {font-size:0.7rem;}

.fz_08 {font-size:0.8rem;}

.fz_09 {font-size:0.9rem;}

.fz_10 {font-size:1.0rem;}

.fz_11 {font-size:1.1rem;}

.fz_12 {font-size:1.2rem;}

.fz_13 {font-size:1.3rem;}

.fz_14 {font-size:1.4rem;}

.fz_15 {font-size:1.5rem;}

.fz_16 {font-size:1.6rem;}

.fz_17 {font-size:1.7rem;}

.fz_18 {font-size:1.8rem;}

.fz_19 {font-size:1.9rem;}

.fz_20 {font-size:2.0rem;}

.fz_21 {font-size:2.1rem;}

.fz_22 {font-size:2.2rem;}

.fz_23 {font-size:2.3rem;}

.fz_24 {font-size:2.4rem;}

.fz_25 {font-size:2.5rem;}

.fz_26 {font-size:2.6rem;}